* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 3000px;
}
header {
}
.header-wrap {
    width: 100%;
    /* height: 140px; */
    /* overflow: hidden; */
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.1);
}
.header-top {
    width: 100%;
    height: 90px;
    background-color: #fff;
    /* box-sizing: border-box; */

}
.header-top .content-inner {
    width: 62.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 img {
    width: 163px;
    height: 50px;
}
.utility {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.utility li:nth-child(2) {
    margin: 0 18px;
}
.utility a {
    display: inline-block;
    color: #1e1e1e;
    font-size: 13px;
}
.utility a:hover {
    color: var(--light-green)
}
.utility .search-bar {
    /* width: 242px; */
    position: relative;
}
.utility .search-bar input {
    width: 116px;
    height: 33px;
    padding: 0 60px 0 17px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f5f5f5;
    font-size: 13px;
    color: #919191;
    line-height: 16px;
    outline: none;
    transition-duration: 0.2s;
}
.search-bar input:focus {
    width: 242px;
    display: block;
}
.utility label {
    display: none;
}
.search-bar button {
    position: absolute;
    right: 14px;
    top: 8px;
    border: none;
}
.header-bottom {
    width: 100%;
    height: 50px;
}
.header-bottom .content-inner {
    width: 62.5%;
    margin: 0 auto;
}
.gnb-depth1 {
    display: flex;
}
.gnb-depth1 > li {
    width: calc(100% / 6);
}
.gnb-depth1 li:hover  > a {
    color: var(--light-green);
}
.gnb-depth1 li:hover .gnb-depth2 {
    background-color: var(--light-yellow);
    border-top: 3px solid var(--point-green);
}
.gnb-depth1 > li > a {
    text-align: center;
    color: #1e1e1e;
    display: block;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}
.gnb-depth2 {
    padding: 10px 0 20px 0;
    border-left: 1px solid #c0c0c0;
    height: 100%;
    border-top: 3px solid transparent;


}
.gnb-depth2 > li {
    /* background-color: aliceblue; */
}
.gnb-depth2 a {
    color: #505050;
    font-size: 14px;
}
.gnb-depth2 > li > a,
.gnb-depth3 li a {
    display: block;
    padding: 5px 26px 5px 12px;
    text-align: left;
    color: #505050;
}
.gnb-depth3 {
    background-color: #fbfbfb;
    display: none;
}
.gnb-depth3 li a {
    font-size: 13px;
    font-weight: 300;
}
.has-depth {
    position: relative;
}
.has-depth > a::before,
.has-depth > a::after {
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.25s ease-out;
    background-color: var(--point-green);
}
.has-depth b {
    font-weight: 400;
}
/* vertical line */
.has-depth > a::before {
    right: 14px;
    top: 9px;
    width: 1px;
    height: 9px;
    background-color: var(--point-green);
}
/* horizontal line */
.has-depth > a::after {
    width: 9px;
    height: 1px;
    right: 10px;
    top: 13px;
}
.gnb-depth2 .has-depth > a.on::before {
    transform: rotate(90deg);
}
.gnb_depth2 .has-depth > a.on::after {
    transform: rotate(180deg);
}