/* mini pc ( 1270 ~ 1630) */
@media screen and (min-width: 1270px) and (max-width: 1630px) {
    .header_top {
        margin: 0 auto;
    }
    .header_top_inner {
        width: 90%;
        justify-content: space-between;
    }

    #header_tab {
        display: none;
    }
    #main .slick-dotted.slick-slider {
        margin-bottom: 0;    
    }
    ul.gnb {
        width: calc(10.78vw * 6);
        margin: 0 auto;
    }
    ul.gnb li a {
        font-size: 1.8rem;
        display: block;
        width: 10.78vw;
    }
    ul.util a {
        font-size: clamp(1.4rem, 0.73vw, 1.5rem);
    }
    ul.util a img {
        width: 15px;
        height: 15px;
    }


    #header ul > div {
        width: 10.78vw;
    }
    .header_drop_inner {
        width: fit-content;
        margin-left: 18.4vw; 
        display: flex;
    }
    .header_drop_inner ul {
        border-top: 0.25vw solid transparent;
    }
    .header_drop_inner ul:hover {
        border-top: 0.25vw solid #337752;
    }
    .header_drop_inner li a {
        font-size: 1.6rem;
    }

    .header_drop_inner li {
        width: 10.78vw;
    }
    .header_drop_inner li.morebg a {
        font-size: 1.4rem;
    }

    #header .more_btn {
        width: 11px;
        height: 11px;
        top: 0.68vw;
        right: 0.6vw;
    }

    /* 퀵메뉴  */
    .quick_menu {
        min-width: 5.7vw;
    }
    .quick_box img {
        width: 1.8vw;
        height: 1.8vw;
    }
    .quick_box span {
        font-size: 1.2rem;

    }
    .move_top_btn {
        width: 2.08vw;
        height: 2.08vw;
        bottom: -12.7vh;
    }
    .move_top_btn img {
        width: 45px;
        height: 45px;
    }

    /* 메인사진 페이저  */
    ul.slick-dots {
        /* margin: 0 auto; */
        /* width: 50px; */
        position: absolute;
        bottom: 1.15vw;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    /* content 공통  */
    div[class^="title"] h2 {
        font-size: clamp(2.9rem, 2.08vw, 4.2rem);
    }
    .title_mini span {
        font-size: 1.4rem;
    }
    .ct1 .inner_text ul {
        font-size: clamp(1.7rem, 0.99vw, 2rem);
    }
    /* .inner {
        width: 80.94vw;
        margin: 0 auto;
        display: flex;
    } */

    /* ct1  */
    /* .title_mini span {
        font-size: 1.4rem;
        white-space: nowrap;
    } */
    /* .title_mini {
        padding-bottom: 0.28vh;
    } */
    /* .title_text.first h2 {
        margin: 0.74vh 0 1.11vh;
    } */
    /* .ct1 .inner_text {
        margin-top: 6.48vh;
    } */
    /* .ct1 .inner_text ul li::before {
        content: "";
        width: 0.16vw;
        height: 2.5vh; 
        display: inline-block;
        margin-right: 0.47vw;
        vertical-align: bottom;
    } */
    /* .ct1 .inner_text ul li:not(:last-child) {
        margin-bottom: 2.31vh;
    } */
    /* .ct1 {
        padding-top: 6.25vw;
    } */
    /* .ct1_img {
        width: 36.93vw;
        height: 55.56vh;
        margin-left: 12.6vw;
    } */

    /* .title_desc {
        width: 21.72vw;
        font-size: 1.5rem;
        line-height: 2.2rem;
    } */

    /* 공통 컨텐츠 타이틀 */
    /* .title_inner {
        width: 80.94vw;
        margin: 0 auto;
        text-align: center;
        padding-top: 6.25vw;
    } */
    /* .title_center {
        position: relative;
        margin-bottom: 6.02vh;
    } */

    /* .title_center_text span {
        width: fit-content;
        margin: 0 auto;
        font-size: 1.4rem;
        text-align: center;
        white-space: nowrap;
        margin: 0 auto;
    } */

    /* ---- 클래스명 ct_ 를 사용한 선택자 -----  */ 
    /* a.ct_prev.prev:hover,
    a.ct_next.next:hover {
        width: 31px;
        height: 31px;
        display: inline-block;
    } */
    /* a.ct_prev.prev,
    a.ct_next.next {
        width: 31px;
        height: 31px;
        display: inline-block !important;
        border: 1px solid #d9d9d9;
    } */

    /* 전체보기 글씨  */

    a.all {
        font-size: clamp(1.5rem, 0.94vw, 1.9rem);
        /* position: absolute; */
        /* right: 0; */
        /* top: 0; */
        /* margin-top: 52px; */
    }
    .ct3_text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

    }
    .news_title {
        max-width: 200px;

    }
    .new {
        /* position: absolute;
        width: 4.58vw;
        height: 6.02vh;
        font-size: 1.6rem;
        line-height: 6.02vh; */
        top: -2px;
        padding: 5px;
    }
    .board_box1, .board_boxs {
        min-height: 7.74vh;
    }

    .board_right,
    .board_title,
    .board_index,
    #footer ul li a {
        font-size: clamp(1.4rem, 0.89vw, 1.7rem);
    }
    
    

    .footer_nav {
        line-height: 4.54vh;
        padding: 5px 0;
    }
    .footer_content .menu a {
        font-size: 1.2rem;
    }
}
