/* pc에서 안보여야할 것 */
#header_tab {
    display: none;
}
#header_tab h1 {
    background: url("./images/logo.png") no-repeat center / contain;
    width: 210px;
    height: 42px;
    margin: 0 auto;
}
#header_tab .menu_wrap_tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 82px;
    align-items: center;
    padding: 0 3%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.burger_tab,
.magnifer_tab {
    display: block;
}
.burger_tab img,
.magnifer_tab img {
    width: 42px;
    height: 42px;
}

#main .mainvisual_tab {
    display: none;
}

/* header */
.header-wrap {
    width: 100%;
    height: auto;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    /* overflow: hidden; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(white 138px, rgba(255, 255, 255, 0.5)) 140px,
        rgba(255, 255, 255, 0.703);

}
.header-top {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
}
.header-top .content-inner {
    width: 62.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 3;
    overflow: hidden;
    background: linear-gradient(white 90px, rgba(255, 255, 255, 0.5)) 140px,
        rgba(255, 255, 255, 0.703);
}
.header-bottom.on {
    height: auto;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header-bottom .content-inner {
    width: 62.5%;
    margin: 0 auto;
}
.gnb-line {
    width: 100%;
    border-top: 1px solid #c0c0c0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
}
h1 img {
    width: 163px;
    height: 50px;
}
.utility {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.utility li:nth-child(2) {
    margin: 0 18px;
}
.utility a {
    display: inline-block;
    color: #1e1e1e;
    font-size: 13px;
}
.utility a:hover {
    color: var(--light-green);
}
.utility .search-bar {
    /* width: 242px; */
    position: relative;
}
.utility .search-bar input {
    width: 116px;
    height: 33px;
    padding: 0 60px 0 17px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f5f5f5;
    font-size: 13px;
    color: #919191;
    line-height: 16px;
    outline: none;
    transition-duration: 0.2s;
}
.search-bar input:focus {
    width: 242px;
    display: block;
}
.utility label {
    display: none;
}
.search-bar button {
    position: absolute;
    right: 14px;
    top: 8px;
    border: none;
}
.gnb-depth1 {
    display: flex;
}
.gnb-depth1 > li {
    display: block;
    width: calc(100% / 6);
    white-space: nowrap;
    position: relative;
    z-index: 2;
    height: auto;
}
.gnb-depth1 li:hover > a {
    color: var(--light-green);
}
.gnb-depth1 > li > a {
    text-align: center;
    color: #1e1e1e;
    display: block;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
}
.gnb-depth1 > li {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid transparent;
}
.gnb-depth1 > li:last-child {
    border-right: 1px solid #c0c0c0;
}
.gnb-depth2 {
    border-top: 3px solid transparent;
    padding-top: 10px;
    position: relative;
}

.gnb-depth2 a {
    color: #505050;
    font-size: 14px;
}
.gnb-depth1 li:hover .gnb-depth2 {
    border-top: 3px solid var(--point-green);
}

.gnb-depth2 > li > a,
.gnb-depth3 > li > a {
    display: block;
    /* padding: 5px 149px 5px 12px; */
    padding-left: 0.63vw;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #505050;
}
.gnb-depth2 > li > a:hover,
.gnb-depth3 > li > a:hover {
    color: #92c159e4;
    font-weight: bold;
}
.gnb-depth3.active {
    display: block;
}
.gnb-depth3 li a {
    font-size: 13px;
    font-weight: 300;
    background-color: #f4eedb;;

}
.has-depth {
    overflow: hidden;
    height: 30px;
}
.has-depth.active {
    height: auto;
}
.has-depth > a {
    position: relative;

}
.has-depth > a::before,
.has-depth > a::after {
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.25s ease-out;
    background-color: var(--point-green);
    z-index: 4;
}
.has-depth b {
    font-weight: 400;
}
/* vertical line */
.has-depth > a::before {
    right: 14px;
    top: 10px;
    width: 1px;
    height: 9px;
    background-color: var(--point-green);
}
/* horizontal line */
.has-depth > a::after {
    width: 9px;
    height: 1px;
    right: 10px;
    top: 13px;
}
.has-depth.active > a::before {
    transform: rotate(90deg);
}

/* 퀵메뉴  */
.quick_menu {
    position: absolute;
    right: 0;
    top: 13.89vh;
    width: 5vw;
    height: 54vh;
    background: rgba(244, 244, 244, 0.8);
    border-radius: 1rem 0px 0px 1rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quick_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.quick_box img {
    text-align: center;
    width: 1.6vw;
    height: 1.6vw;
}
.quick_box span {
    display: block;
    text-align: center;
    margin-top: 0.19vh;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #303030;
}
.quick_box div {
    text-align: center;
}
.move_top_btn {
    position: absolute;
    bottom: -28.3vh;
    cursor: pointer;
}
.move_top_btn img {
    width: 50px;
    height: 50px;
}

/* 메인 사진  */
#main {
    padding-top: 90px;
    width: 100%;
    display: inline-block;
}
.mainvisual {
    position: relative;
    z-index: 0px;
    border: 3px solid #000;
}
.mainvisual img {
    display: block;
    width: 100%;
}
#main .mainvisual_tab {
    display: none;
}
#main .slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* 메인사진 페이저  */
ul.slick-dots {
    margin: 0 auto;
    width: 50px;
}
#main .mainvisual .slick-dots li {
    z-index: 99;
    margin: 0 auto;
    margin-right: 0.8vw;
    border: 0.05vw solid #dfdfdf;
    width: 0.78vw;
    height: 0.78vw;
}
.slick-dots li button:before {
    display: none;
}
#main .slick-dots li button {
    width: 26.04vw;
}
#main .slick-dots li.slick-active {
    width: 3vw;
    height: 0.78vw;
    border: 0.05vw solid var(--light-green);
    border-radius: 11px;
    background-color: var(--light-green);
}

#main .mainvisual ul {
    position: absolute;
    bottom: 1.15vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#main .mainvisual ul li.pager a {
    display: inline-block;
    border: 0.05vw solid #dfdfdf;
    width: 0.78vw;
    height: 0.78vw;
    z-index: 2;
    margin-right: 0.78vw;
}
.mainvisual li.pager.pager_current a {
    width: 2.34vw;
    height: 0.78vw;
    border: 0.05vw solid var(--light-green);
    border-radius: 11px;
}
.ct2,
.ct3,
.ct4,
.ct5 {
    overflow: hidden;
    padding-bottom: 13.89vh;
}

/* content 공통  */
div[class^="title"] h2 {
    font-size: 5rem;
    margin: 1.39vh 0 2.31vh;
    white-space: nowrap;
}

/* ct1  */
.inner.ct1 {
    width: 62.5%;
    margin: 0 auto;
    display: flex;
}
.title_mini span {
    font-size: 1.4rem;
    white-space: nowrap;
}
.title_mini {
    padding-bottom: 0.28vh;
}
.title_text.first h2 {
    margin: 0.74vh 0 1.11vh;
}
.ct1 .inner_text {
    margin-top: 6.48vh;
}
.ct1 .inner_text ul {
    margin-left: 3.13vw;
    margin-top: 6.85vh;
    font-size: 2rem;
    line-height: 2.69vh;
}
.ct1 .inner_text ul li::before {
    content: "";
    width: 0.16vw;
    height: 2.5vh;
    display: inline-block;
    margin-right: 0.47vw;
    vertical-align: bottom;
}
.ct1 .inner_text ul li:not(:last-child) {
    margin-bottom: 2.31vh;
}
.ct1 {
    padding: 3.25vw 0;
    background-color: #fff;
}
.ct1_img {
    width: 36.93vw;
    height: 55.56vh;
    margin-left: 12.6vw;
}

.title_desc {
    width: 21.72vw;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* 센터 타이틀  */
.title_inner {
    width: 62.5%;
    margin: 0 auto;
    text-align: center;
    padding-top: 6.25vw;
    border: 1px solid #000;
}
.title_center {
    position: relative;
    margin-bottom: 6.02vh;
}

.title_center_text span {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

/* ---- 클래스명 ct_ 를 사용한 선택자 -----  */
a.ct_prev.prev:hover,
a.ct_next.next:hover {
    width: 31px;
    height: 31px;
}
a.ct_prev.prev,
a.ct_next.next {
    width: 31px;
    height: 31px;
    display: inline-block !important;
    border: 1px solid #d9d9d9;
}

/* 전체보기 글씨  */

a.all {
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 52px;
}
a.all:hover {
    color: var(--light-green);
}
a.all_tab_m {
    display: none;
}

/* ct2  */
.video_th {
    width: 100%;
    height: 100%;
    margin: 0 0.52vw;
}
.video_all img {
    width: 100%;
}

/* ct3 우리소식 컨텐츠  */
.news li {
    /* width: 25.68vw; */
    height: 26.57vh;
    text-align: center;
    position: relative;
}
.ct3 .inner {
    width: 62.5%;
    margin: 0 auto;
}
.ct3_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.news.slick-slider li {
    margin: 0 5px;
}
.news_title {
    font-size: 2.2rem;
    white-space: nowrap;
    margin-bottom: 7.31vh;
}
.news_date {
    font-size: 1.7rem;
}
.new {
    position: absolute;
    width: fit-content;
    /* width: 4.58vw; */
    /* height: 6.02vh; */
    font-size: 1.4rem;
    /* line-height: 6.02vh; */
    padding: 11px;
}
.news li:hover {
    border: 1px solid #83ae50;
}
.news li .bottom_line {
    width: 100%;
    bottom: -1px;
    height: 4px;
    position: absolute;
    background-color: transparent;
}
.news li:hover .bottom_line {
    background-color: #83ae50;
}

/* ct4 갤러리 컨텐츠  */
.ct4 .gallery_box img {
    max-width: 85%;
    height: 100%;
}
.gallery_all .slick-list {
    overflow: visible;
}

/* .gallery_box.slick-slide {
    margin: 0 1.56vw;
} */
/* ct5 게시판 컨텐츠  */
.ct5 .inner {
    width: 62.5%;
    margin: 0 auto;
}
.board_box1,
.board_boxs {
    height: 5.74vh;
    display: flex;
    align-items: center;
}
.board_left {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 1.04vw;
    font-size: 1.6rem;
}

.board_index {
    width: fit-content;
    white-space: nowrap;
}
.board_title {
    width: 39.25vw;
    margin-left: 10px;
}
.board_right {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: 0.63vw;
    font-weight: 400;
    font-size: 1.6rem;
}
.middle_line {
    display: block;
    width: 1px;
    height: 12px;
    margin: auto 1.15vw;
}
.board_writer {
    width: 46px;
    text-align: center;
}

/*푸터*/
#footer {
    height: 30vh;
    /* margin-top: 11.57vh; */
}
.footer_inner {
    width: 80.94vw;
    height: 100%;
    margin: 0 auto;
}
.footer_nav {
    height: 4.54vh;
}
.footer_main {
    padding-bottom: 20px;
}
#footer ul {
    width: 100%;
    height: 4.54vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer ul li a {
    font-size: 1.6rem;
}
.footer_content {
    height: 5.83vh;
    margin-bottom: 1.85vh;
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
}
#footer h1.logo_w {
    width: 10.81vw;
    height: 5.86vh;
}
.footer_content .menu {
    margin-left: 1.04vw;
}
.footer_content .menu span {
    display: inline-block;
    margin: 0vh 0.63vw;
    height: 1.2vh;
    vertical-align: middle;
}

.footer_address,
.copyright {
    font-size: 12px;
    line-height: 2.85vh;
}

.copyright {
    margin-top: 1.48vh;
}
.footer_content .menu a {
    font-size: 1.2rem;
}
